@{
    ViewData["Title"] = "Signed out";
}


<div class="header-container">
    <h1>@ViewData["Title"]</h1>
</div>


<div class="landing-body-container">
    <p>
        You have successfully signed out.
    </p>
</div>